svg {
  font: 12px sans-serif;
}
 
.area {
  fill: lightgray;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
  clip-path: url(#clip);
}

.line {
  fill: none;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}