<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Assignment 5</title>

	<!--d3.js version 3 -->
	<script src="http://d3js.org/d3.v3.js"></script>
	<!-- d3.js version 4 -->
	<!--<script src="https://d3js.org/d3.v4.min.js"></script>-->
	<!--jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	
	<!-- Datatable JS -->
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	<!-- Datatable CSS-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">  
	<!-- Datatables CSS-->
	<link rel="stylesheet" type="text/css" href="../static/css/test.css"> 

	
</head>
<body>
	
	
	<h1>test</h1>




</body>
</html>